{%extends "base.html" %}

{%block content%}
    <div id="products">
        {%for object in products %}
            <div class="object" id= '{{object.id}}'>
                {{object.title}}
                <br>
                {{object.description}}
                <br>
                {{object.summary}}
                <br>
                {{object.price}}
                <br>
                <a href="/delete/{{object.id}}">Delete</a>
            </div>
        {%endfor%}
    </div>
{%endblock%}