{%extends "base.html" %}

{%block content%}
    <div id="products">
        {%for object in products %}
            <div class="object" id='{{object.id}}'>
                {{object.title}}
                <br>
                {{object.description}}
                <br>
                {%if object.price != None %}
                    {{object.price}}
                {%endif%}
                <br>
                <form method="POST"> {% csrf_token %}
                    <input type="text" value="{{object.id}}" name="id" style="display: none;">
                    <input type="submit" value="Delete">
                </form>
            </div>
        {%endfor%}
    </div>
{%endblock%}