{%extends "base.html" %}

{%block content%}

    <table id="items">
        <tr>
            <th style="width:75px;"></th>
            <th style="width:75px;">Name</th>
            <th style="width:75px;">Price</th>
            <th>Notes</th>
        </tr>        
        
        {%for item in items %}
            <tr id="item">
                <td>
                    <form method="POST"> {% csrf_token %}
                        <input type="text" value="{{item.id}}" name="id" style="display: none;">
                        <input type="submit" value="Delete">
                    </form>
                </td>
                <td>{{item.title}}</td>
                <td>
                    {%if item.price != None %}
                        {{item.price}}
                    {%else%}
                        --
                    {%endif%}
                </td>
                <td>
                    {%if item.description != "" %}
                        {{item.description}}
                    {%else%}
                        --
                    {%endif%}
                </td>
            </tr>
        {%endfor%}

    </table>
{%endblock%}